*{
  margin: 0;
  padding: 0;
}

.bannersec .left{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bannersec .right h1,h3{
  display: flex;
 justify-content: center;
}
.discountsec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.disleft{
  display: flex;
  flex-direction: column;
  margin-right: 20px;

}
.disleft Button{
  margin-top: 20px;
}

.disright{
  display: flex;
  flex-direction: column;
  margin-right: 20px;

}
.disright Button{
  margin-top: 20px;
}
.resultsec{
 color: red;
 margin-top: 20px;
margin-bottom: 15px;
}
.resultdisc{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 10px;
  color:blue;
}
.amountsec{
  display: flex;
  justify-content: center;
}
.amountsec h3{
margin-right: 20px;
margin-top: 20px;
margin-right: 10px;
}



